* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    position: relative;
}

body {
    position: relative;
    font: 14px 'Open Sans', 'Raleway', sans-serif;
    background-color: #f6f6f6;
    color: #555;
    -webkit-font-smoothign: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    color: #444;
}

ul {
    list-style: none;
}